* {
    font-family: Source Code Pro;
}
section {
  width:auto;
  height:400px;

  padding:50px;
}
h1 {
  font-size:10em;

}
p {
  line-height: 2em;
}

.gitfloat {

  float: right;
  position: relative;
}

div {
  padding:30px;
}
